* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*  outline: red 1px solid; */
}


.justify-flex {
    display: flex;
    justify-content: flex-start;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.column-align-flex {
    display: flex;
    flex-direction: column;

}

.flex-direction-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header {
    max-width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    height: 200px;
    justify-content: space-between;
    background-color:transparent;
    
}

.wit {
    color: #FFFFFF;
}



body {
    background-color: #0A1117;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-box {
    height: 950px;
    width: 1550px;
    background: linear-gradient(to right, #525151 0%, #52515100 100%);
    gap: 100px;
}

.padding {
    padding-top: 50px;
}

::placeholder {
    color: #FFFFFF;
}

.contact-blauw-container {
    gap: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email input {
    width: 520px;
    border: none;
    border-bottom: 2px solid #00A8CD;
    background-color: transparent;
    outline: none;
    color: white;
    padding: 5px;
    font-size: 16px;
    height: px;


}


.streep-message textarea {
    background-color: transparent;
    border: 2px solid #00A8CD;
    color: white;
    padding: 55px;
    font-size: 16px;
    width: 360px;
    height: 360px;
    resize: none;
    gap: 10px;
}

.streep-message {
    margin-right: 600px;
}


.message-map-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    
}

#map-container {
  width: 100%;
  height: 500px;
  background: white; /* alleen om te testen */
}




.header-nav {
    display: flex;
    gap: 100px;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
}

footer nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
}



.streep-container {
    padding-top: 100px;
}

.project {
    width: 1500px;
    height: 1500px;

}

.contact-me {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}


.blue-text {
    color: #00A8CD;
}

.footer-img {
    display: flex;
    gap: 300px;
    padding-bottom: 20px;
}

.home-footer img {
    height: 170%;

}


.about-me-container {
    background-image: url('../img/code-afbeelding.png');
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 1500px;
    padding-top: 100px;

}

.about-me h3 {
    font-size: 25px;
    color: #00A8CD;
}

.project-box {
    height: 100%;
    width: 100%;
    background-color: transparent;
    gap: 100px;
    justify-content: space-evenly;
    padding: 50px;


}

.project-pinkgoose {
    height: 50%;
    width: 600px;
    align-items: center;
    border-radius: 25px;
    gap: 10px;
}

.project-mastermind-pinkgoose {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    height: 98%;
    border-radius: 25px;
    justify-content: center;
}

.game-logo img {
    
  border-radius: 25px; 
  height: 80px;
  width: 100px;
}


.justify-flex {
    display: flex;
    justify-content: flex-start;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.column-align-flex {
    display: flex;
    flex-direction: column;

}

.flex-direction-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-header {
    max-width: 100vw;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
}

.wit {
    color: #FFFFFF;
}

.border {
    border: 10px white solid;
    box-shadow: 0px 0px 30px ;
}

body {
    background-color: #0A1117;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-box {
    height: 950px;
    width: 1550px;
    background: linear-gradient(to right, #525151 0%, #52515100 100%);
    gap: 100px;
}

.padding {
    padding-top: 50px;
}

::placeholder {
    color: #FFFFFF;
}

.contact-blauw-container {
    gap: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email input {
    width: 520px;
    border: none;
    border-bottom: 2px solid #00A8CD;
    background-color: transparent;
    outline: none;
    color: white;
    padding: 5px;
    font-size: 16px;
    height: px;


}


.streep-message textarea {
    background-color: transparent;
    border: 2px solid #00A8CD;
    color: white;
    padding: 55px;
    font-size: 16px;
    width: 360px;
    height: 360px;
    resize: none;
    gap: 10px;
}

.streep-message {
    margin-right: 600px;
}


.message-map-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
    
}

#map-container {
  width: 100%;
  height: 500px;
  background: white; /* alleen om te testen */
}




.header-nav {
    display: flex;
    gap: 100px;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
}

footer nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
}



.streep-container {
    padding-top: 100px;
}

.project {
    width: 1000px;
    height: 850px;
}

.contact-me {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}


.blue-text {
    color: #00A8CD;
}

.footer-img {
    display: flex;
    gap: 300px;
    padding-bottom: 20px;
}

.home-footer img {
    height: 170%;

}



.project-box {
    height: 100%;
    width: 100%;
    background-color: transparent;
    gap: 100px;
    justify-content: space-evenly;
    padding: 50px;
    border-radius:25px;
}

.project-pinkgoose {
    height: 85%;
    width: 600px;
    align-items: center;
    border-radius: 25px;
    gap: 10px;
}

.project-mastermind-pinkgoose {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    height: 98%;
    border-radius: 25px;
    justify-content: center;
}

.game-logo img {
    height: 150px;
    width: 150px;
}

.pinkgoose-img img {

    height: 350px;
    width: 575px;
    margin-top: -110px;

}

.mastermind-img img {
    height: 350px;
    width: 570px;
    margin-top: -118px;
}


.project-week img {
    height: 350px;
    height: 350px;
    width: 570px;
    margin-top: -107px;
}

.pinkgoose-naam {
    /* margin-bottom: 130px; */
    padding: 10px;
    border-radius: 25px;
    border: #FFFFFF 2px solid;
}




.about-me-container img {
    transition: transform 0.1s linear;
}

@media (max-width: 700px) {

    .flex-direction-row {
        flex-direction: column !important;
        height: auto;


    }

    .header-nav {
        flex-direction: column !important;
        padding-top: 50px;
        padding-bottom: 50px;

    }

}

.pinkgoose-img img {

    height: 350px;
    width: 575px;
    margin-top: -110px;

}

.mastermind-img img {
    height: 350px;
    width: 570px;
    margin-top: -118px;
}


.project-week img {
    height: 350px;
    height: 350px;
    width: 570px;
    margin-top: -107px;
}

.pinkgoose-naam {
    margin-bottom: 130px;
    padding: 10px;
}





@media (max-width: 700px) {

    .flex-direction-row {
        flex-direction: column !important;
        height: auto;


    }

    .header-nav {
        flex-direction: column !important;
        padding-top: 50px;
        padding-bottom: 50px;

    }

}